#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.iobj
*.ipdb
[Bb]in
[Dd]ebug*/
.vs/*
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Bb]uild/*
.vscode/ipch/*
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
[Tt]est[Rr]esult*
*.VC.db
*.VC.VC.opendb
*.db-shm
*.db-wal
ipch/*
*.ipch
*.sqlite
*.opendb
thread_party/*
Services/packages/*
.data/*
__pycache__
*.fdb
*.rar
*.zip
*.tar
*.7z
*.vcxproj.filters
cmake_install.cmake
*.glade~
